{% extends "base.html" %}
{% load static %}

{% block title %}
    Вход
{% endblock %}

{% block content %}
    <h1>Вход</h1>
    {% if form.errors %}
        <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
    {% endif %}
    <div class="login-form">
        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="submit" value="Войти"></p>
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
{% endblock %} 